@font-face {
    font-family: 'Roboto-Regular';
    src: url('../font/Roboto/Roboto-Regular.ttf');
}

* {
    font-family: 'Roboto-Regular', sans-serif;
}

body {
    font-size: 1.9rem !important;
    /*27pt ----> Von den Design Team vorgegeben*/
    margin: 0px auto;
    background-color: #3B3A37;
    max-height: 200px;
    max-width: 200px;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

/* Farben für Kategorien */

#sightsColor{
    color: #ff4646;
}
#insidertipColor{
     color: #00cdff;
}
#insidertipColor{
    color: #67d067;
}




.centerText {
    text-align: center;
}


/* Settingsseite: Button zum Stummschalten der  Applikation*/
#stumm {
    color: #ffffff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.stummactive {
    background-color: #fff;
    color: #000000 !important;
}

/* Pushnotificationen */
#pushMessage {
    height: 130px;
    width: 100%;
    text-align: center;
    z-index: 100;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    display: none;
}


#notificationimage{
    height: 360px;
    width: 360px;
    margin: 0 !important;
    padding: 0! important;
    z-index: 0;
    position: fixed;
    top: 0;
	float: left;
}
.notificationMessage{
background-color: black;
	opacity: 0.6;
	position: relative;
	top:150px;
	z-index: 20
}
.notificationTitle{
	position: relative;
	text-align: center;
	z-index: 10000;
}
.lDescription{
	position: relative;
	text-align: center;
	z-index: 10000;
}
.infoIcon{
	width: 30px;
	height: 30px;
	background-image: url(../img/Push_Info_Symbol.svg);
	background-position: center;
}
/* POI Manager */

/*Dynamisches Bild für aktives POI*/
#image {
    height: 360px;
    width: 360px;
    margin: 0 !important;
    padding: 0! important;
    z-index: 2;
    opacity: 1;
    position: absolute;
    top: 0;
}

#imgPOI {
    height: 360px;
    width: 360px;
}





/*Dynamische Texte für aktives POI*/
.text {
    position: absolute;
    width: 360px;
    top: 70px;
    z-index: 3;
}

#title {
    width: 200px;
    /*	top: 110px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 3;
}

.textdist {
    position: absolute;
    width: 360px;
    max-height: 300px;
    top: 250px;
    z-index: 3;
}


#distance {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 3;
}


/* Kreis auf dem die Sehenswürdigkeiten gezeichnet werden */

#center {
    margin: auto;
    top: -22.5px;
    padding: 0;
    max-height: 360px;
    max-width: 360px;
    height: 315px;
    width: 315px;
    border-radius: 157.5px;
    transform: rotate(0deg);
    /*    background-color: rgba(255, 255, 0, 0.31);*/
    position: relative;
    z-index: 4;
  
}

/* SVG Ladezirkel */

#divGeoWait {
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    overflow: hidden;
}
#textGeoWait{
    position: absolute;
    width: 250px;
    font-size: 0.85em;
    top: 175px;
    left: 55px;
    text-align: center;
    z-index: 200;
    overflow: hidden;
}


#loader{
    padding: 0;
    width: 80px;
    margin-left: 140px;
    margin-top: 95px;
}
/* Pfeil auf main Seite */
#direction {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 145px;
    left: 145px;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    /*transition: all 1s ease-out;*/
    transform: rotate(0deg);
    z-index: 3;
}

#direction-button {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    margin: auto;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    border-color: transparent;
    z-index: 3;
}

/* Mögliche Anzeige wo Norden ist  */ 
#north {
    font-size: 20px !important;
    position: absolute;
}

/* Filter */

.ui-listview li {
    border-image: none;
    line-height: 2.5rem;
    font-size: 1.9rem;
    padding: 1.9rem 1.9rem;
    /*    border-image: -webkit-linear-gradient(0deg,transparent,#245b85,transparent) 1; */
    */
}

.filter {
    display: inline-block !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
}

.margin-bottom {
    margin-bottom: 10px;
}

#okButton {
    color: #ffffff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}


#insidertip {
    color: #00cdff;
    border-top: 2px solid #00cdff;
    border-bottom: 2px solid #00cdff;
}

#sights {
    color: #ff4646;
    border-top: 2px solid #ff4646;
    border-bottom: 2px solid #ff4646;
}

#culinary {
    color: #67d067;
    border-top: 2px solid #67d067;
    border-bottom: 2px solid #67d067;
}

.culinaryfilteractive {
    color: #000 !important;
    background-color: #67d067;
}

.sightsfilteractive {
    color: #000 !important;
    background-color: #ff4646;
}

.insidertipfilteractive {
    color: #000 !important;
    background-color: #00cdff;
}


/* Kategorien */

.culinary {
    /*opacity: 0.5;*/
    height: 22px;
    width: 22px;
    /*height: 5.197px;
    width: 5.197px;*/
    border-radius: 11px;
    /*     background: #ff4646; */
    position: absolute;
    border: 2px solid #67d067;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    z-index: 10;
}

.sights {
    /*opacity: 0.5;*/
    /* 22.541px */
    height: 22px;
    width: 22px;
    border-radius: 11x;
    border: 2px solid #ff4646;
    /*background: #ff4646;*/
    position: absolute;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    z-index: 10;
}

.insidertip {
    /*opacity: 0.5;*/
    height: 22px;
    width: 22px;
    border-radius: 11px;
    border: 2px solid #00cdff;
    /*background: #ff4646;*/
    position: absolute;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    z-index: 10;
}

.sightsactive {
    background-color: #ff4646;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    z-index: 12;
}

.insidertipactive {
    background-color: #00cdff;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    z-index: 12;
}

.culinaryactive {
    background-color: #67d067;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    z-index: 12;
}