* {
	font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
	margin: 0px auto;
	background-color: #3B3A37;
}
#outer{
	position: absolute;
	height: 100%;
	widht: 100%;
	background-color: blue;
}

.new_margin_content{
	margin-top: 0 !important;
}
#center {
	margin: auto;
    top: 22.5px;
    /* left: 90px; */
    padding: 0;
    width: 315px;
    height: 315px;
    border-radius: 157.5px;
    /*background-color: yellow;*/
    position: relative;
    /* left: 200px; */
    /* top: 100px; */
}

/* .point1, .point2 ,.point3 ,.point4 ,.point5 ,.point6 , .point7, .point8, .point9,  .point10 {
   height: 20px;
	width: 20px;
	border-radius: 10px;
	border: 2px solid #FF00B2;
   background: #FF00B2;
    position:absolute;
} */

.insidertip{
	/*opacity: 0.5;*/
	 height: 20px;
	width: 20px;
	border-radius: 10px;
	border: 2px solid #FF00B2;
    /*background: #FFDC19;*/
    position:absolute;
}
.sights{
	/*opacity: 0.5;*/
	 height: 20px;
	width: 20px;
	border-radius: 10px;
	border: 2px solid #FFDC19; 
    /*background: #FFDC19;*/
    position:absolute;
}
.culinary{
	/*opacity: 0.5;*/
	 height: 20px;
	width: 20px;
	border-radius: 10px;
/*     background: #FFDC19; */
    position:absolute;
    border: 2px solid #14C9CC;
    
}






 .point1 {
    opacity: 1;
}
.point2 {
    opacity: 0.9;
}
.point3 {
    opacity: 0.8;
}
.point4 {
    opacity: 0.7;
}
.point5 {
    opacity: 0.6;
}
.point6 {
    opacity: 0.5;
}
.point7 {
    opacity: 0.4;
}
.point8 {
    opacity: 0.3;
}
.point9 {
    opacity: 0.2;
}
.point10 {
    opacity: 0.1;
}

 /*
 .point1 {
    opacity: 1;
}
.point2 {
    opacity: 1;
}
.point3 {
    opacity: 1;
}
.point4 {
    opacity: 1;
}
.point5 {
    opacity: 1;
}
.point6 {
    opacity: 1;
}
.point7 {
    opacity: 1;
}
.point8 {
    opacity: 1;
}
.point9 {
    opacity: 1;
}
.point10 {
    opacity: 1;
}

 
*/
 /* .poi{
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 20%;
	background-color:#FF00B2 ;
	top:10px;
	left: 160px;
} */
#direction2 {
	position: absolute;
	width: 190px;
	height: 180px;
	top: 25%;
	left: 25%;
	margin: auto;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
	transition: all 1s ease-out;
	transform: rotate(0deg);
}

#direction-button2 {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 25%;
	left: 25%;
	margin: auto;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	border-color: transparent;
}

#direction {
	position: absolute;
	width: 190px;
	height: 180px;
	top: 25%;
	left: 25%;
	margin: auto;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
	transition: all 1s ease-out;
	transform: rotate(0deg);
}

#direction-button {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 25%;
	left: 25%;
	margin: auto;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
	border-color: transparent;
}

.filter {
	display: inline-block !important;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	position: relative;
}


#insidertip{
	border: 2px solid #FF00B2;
}
#sights {
	border: 2px solid #FFDC19;
	
}
#culinary {
	border: 2px solid #14C9CC;
	
}  

.sightsactive{
	background-color: #FFDC19;
}

.insidertipactive{
	background-color: #FF00B2;
}

.culinaryactive{
	background-color: #14C9CC;
}